In [49]:
import pandas as pd 
from matplotlib import pyplot as plt 
import numpy as np 
from scipy import stats
import os.path
import sys
from datetime import datetime as dt

In [50]:
#read in the tripdata from citibike & union together
dec17 = "../sourceData/tripdata/JC-201712-citibike-tripdata.csv"
dec17_df = pd.read_csv(dec17)
dec17_df['filename'] = os.path.basename(dec17)

jan18 = "../sourceData/tripdata/JC-201801-citibike-tripdata.csv"
jan18_df = pd.read_csv(jan18)
jan18_df['filename'] = os.path.basename(jan18)

# feb18 = "../sourceData/tripdata/JC-201802-citibike-tripdata.csv"
# feb18_df = pd.read_csv(feb18)
# feb18_df['filename'] = os.path.basename(feb18)

# mar18 = "../sourceData/tripdata/JC-201803-citibike-tripdata.csv"
# mar18_df = pd.read_csv(mar18)
# mar18_df['filename'] = os.path.basename(mar18)

apr18 = "../sourceData/tripdata/JC-201804-citibike-tripdata.csv"
apr18_df = pd.read_csv(apr18)
apr18_df['filename'] = os.path.basename(apr18)

# may18 = "../sourceData/tripdata/JC-201805-citibike-tripdata.csv"
# may18_df = pd.read_csv(may18)
# may18_df['filename'] = os.path.basename(may18)

# jun18 = "../sourceData/tripdata/JC-201806-citibike-tripdata.csv"
# jun18_df = pd.read_csv(jun18)
# jun18_df['filename'] = os.path.basename(jun18)

jul18 = "../sourceData/tripdata/JC-201807-citibike-tripdata.csv"
jul18_df = pd.read_csv(jul18)
jul18_df['filename'] = os.path.basename(jul18)

#union the dfs together
# bike_data = pd.concat([jan18_df, feb18_df, mar18_df, apr18_df, may18_df, jun18_df])

# bike_data = pd.concat([jan18_df, feb18_df, mar18_df])

bike_data = pd.concat([dec17_df, jan18_df, apr18_df, jul18_df])

#reset the index
bike_data = bike_data.reset_index(drop=True)

# bike_data = jan18_df.reset_index(drop=True)

bike_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,filename
0,256,12/1/17 12:00 AM,12/1/17 12:04 AM,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,262,Washington Park,40.691782,-73.973730,18858,Subscriber,1981.0,1,JC-201712-citibike-tripdata.csv
1,325,12/1/17 12:00 AM,12/1/17 12:05 AM,470,W 20 St & 8 Ave,40.743453,-74.000040,490,8 Ave & W 33 St,40.751551,-73.993934,19306,Subscriber,1992.0,1,JC-201712-citibike-tripdata.csv
2,967,12/1/17 12:00 AM,12/1/17 12:16 AM,347,Greenwich St & W Houston St,40.728846,-74.008591,504,1 Ave & E 16 St,40.732219,-73.981656,28250,Subscriber,1992.0,1,JC-201712-citibike-tripdata.csv
3,125,12/1/17 12:00 AM,12/1/17 12:02 AM,3077,Stagg St & Union Ave,40.708771,-73.950953,3454,Leonard St & Maujer St,40.710369,-73.947060,25834,Subscriber,1988.0,1,JC-201712-citibike-tripdata.csv
4,451,12/1/17 12:00 AM,12/1/17 12:08 AM,368,Carmine St & 6 Ave,40.730386,-74.002150,326,E 11 St & 1 Ave,40.729538,-73.984267,14769,Subscriber,1986.0,1,JC-201712-citibike-tripdata.csv

In [51]:
#add a column for the file name to the df
# bike_data['filename'] = os.path.basename(path)


# bike_data['filename'] = os.path.basename(jan18)

In [52]:
#get all the columns in the csv
bike_data.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender', 'filename'],
      dtype='object')

In [53]:
#update the M F code from 0,1,2
bike_data['gender'] = bike_data['gender'].replace({0:'unknown',1: 'male',2:'female'})
bike_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,filename
0,256,12/1/17 12:00 AM,12/1/17 12:04 AM,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,262,Washington Park,40.691782,-73.973730,18858,Subscriber,1981.0,male,JC-201712-citibike-tripdata.csv
1,325,12/1/17 12:00 AM,12/1/17 12:05 AM,470,W 20 St & 8 Ave,40.743453,-74.000040,490,8 Ave & W 33 St,40.751551,-73.993934,19306,Subscriber,1992.0,male,JC-201712-citibike-tripdata.csv
2,967,12/1/17 12:00 AM,12/1/17 12:16 AM,347,Greenwich St & W Houston St,40.728846,-74.008591,504,1 Ave & E 16 St,40.732219,-73.981656,28250,Subscriber,1992.0,male,JC-201712-citibike-tripdata.csv
3,125,12/1/17 12:00 AM,12/1/17 12:02 AM,3077,Stagg St & Union Ave,40.708771,-73.950953,3454,Leonard St & Maujer St,40.710369,-73.947060,25834,Subscriber,1988.0,male,JC-201712-citibike-tripdata.csv
4,451,12/1/17 12:00 AM,12/1/17 12:08 AM,368,Carmine St & 6 Ave,40.730386,-74.002150,326,E 11 St & 1 Ave,40.729538,-73.984267,14769,Subscriber,1986.0,male,JC-201712-citibike-tripdata.csv

In [54]:
#get the number of month and create a column
bike_data['month'] = bike_data.filename.str[7:9]
bike_data['year'] = bike_data.filename.str[3:7]
bike_data['trip_id'] = bike_data.index
bike_data['path_id'] = bike_data["start station name"] + "-" + bike_data["end station name"]

bike_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,filename,month,year,trip_id,path_id
0,256,12/1/17 12:00 AM,12/1/17 12:04 AM,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,262,Washington Park,40.691782,-73.973730,18858,Subscriber,1981.0,male,JC-201712-citibike-tripdata.csv,12,2017,0,DeKalb Ave & Hudson Ave-Washington Park
1,325,12/1/17 12:00 AM,12/1/17 12:05 AM,470,W 20 St & 8 Ave,40.743453,-74.000040,490,8 Ave & W 33 St,40.751551,-73.993934,19306,Subscriber,1992.0,male,JC-201712-citibike-tripdata.csv,12,2017,1,W 20 St & 8 Ave-8 Ave & W 33 St
2,967,12/1/17 12:00 AM,12/1/17 12:16 AM,347,Greenwich St & W Houston St,40.728846,-74.008591,504,1 Ave & E 16 St,40.732219,-73.981656,28250,Subscriber,1992.0,male,JC-201712-citibike-tripdata.csv,12,2017,2,Greenwich St & W Houston St-1 Ave & E 16 St
3,125,12/1/17 12:00 AM,12/1/17 12:02 AM,3077,Stagg St & Union Ave,40.708771,-73.950953,3454,Leonard St & Maujer St,40.710369,-73.947060,25834,Subscriber,1988.0,male,JC-201712-citibike-tripdata.csv,12,2017,3,Stagg St & Union Ave-Leonard St & Maujer St
4,451,12/1/17 12:00 AM,12/1/17 12:08 AM,368,Carmine St & 6 Ave,40.730386,-74.002150,326,E 11 St & 1 Ave,40.729538,-73.984267,14769,Subscriber,1986.0,male,JC-201712-citibike-tripdata.csv,12,2017,4,Carmine St & 6 Ave-E 11 St & 1 Ave

In [55]:
#create an origin df, get rid of the end station data
bike_data["origin-destination"] = "origin"
origin_df = bike_data.drop("end station id", axis=1)
origin_df = origin_df.drop("end station name", axis=1)
origin_df = origin_df.drop("end station latitude", axis=1)
origin_df = origin_df.drop("end station longitude", axis=1)
origin_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,bikeid,usertype,birth year,gender,filename,month,year,trip_id,path_id,origin-destination
0,256,12/1/17 12:00 AM,12/1/17 12:04 AM,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,18858,Subscriber,1981.0,male,JC-201712-citibike-tripdata.csv,12,2017,0,DeKalb Ave & Hudson Ave-Washington Park,origin
1,325,12/1/17 12:00 AM,12/1/17 12:05 AM,470,W 20 St & 8 Ave,40.743453,-74.000040,19306,Subscriber,1992.0,male,JC-201712-citibike-tripdata.csv,12,2017,1,W 20 St & 8 Ave-8 Ave & W 33 St,origin
2,967,12/1/17 12:00 AM,12/1/17 12:16 AM,347,Greenwich St & W Houston St,40.728846,-74.008591,28250,Subscriber,1992.0,male,JC-201712-citibike-tripdata.csv,12,2017,2,Greenwich St & W Houston St-1 Ave & E 16 St,origin
3,125,12/1/17 12:00 AM,12/1/17 12:02 AM,3077,Stagg St & Union Ave,40.708771,-73.950953,25834,Subscriber,1988.0,male,JC-201712-citibike-tripdata.csv,12,2017,3,Stagg St & Union Ave-Leonard St & Maujer St,origin
4,451,12/1/17 12:00 AM,12/1/17 12:08 AM,368,Carmine St & 6 Ave,40.730386,-74.002150,14769,Subscriber,1986.0,male,JC-201712-citibike-tripdata.csv,12,2017,4,Carmine St & 6 Ave-E 11 St & 1 Ave,origin

In [56]:
#create a destination df, get rid of the origin station data
bike_data["origin-destination"] = "destination"
destination_df = bike_data.drop("start station id", axis=1)
destination_df = destination_df.drop("start station name", axis=1)
destination_df = destination_df.drop("start station latitude", axis=1)
destination_df = destination_df.drop("start station longitude", axis=1)
destination_df
destination_df.head()

,tripduration,starttime,stoptime,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,filename,month,year,trip_id,path_id,origin-destination
0,256,12/1/17 12:00 AM,12/1/17 12:04 AM,262,Washington Park,40.691782,-73.973730,18858,Subscriber,1981.0,male,JC-201712-citibike-tripdata.csv,12,2017,0,DeKalb Ave & Hudson Ave-Washington Park,destination
1,325,12/1/17 12:00 AM,12/1/17 12:05 AM,490,8 Ave & W 33 St,40.751551,-73.993934,19306,Subscriber,1992.0,male,JC-201712-citibike-tripdata.csv,12,2017,1,W 20 St & 8 Ave-8 Ave & W 33 St,destination
2,967,12/1/17 12:00 AM,12/1/17 12:16 AM,504,1 Ave & E 16 St,40.732219,-73.981656,28250,Subscriber,1992.0,male,JC-201712-citibike-tripdata.csv,12,2017,2,Greenwich St & W Houston St-1 Ave & E 16 St,destination
3,125,12/1/17 12:00 AM,12/1/17 12:02 AM,3454,Leonard St & Maujer St,40.710369,-73.947060,25834,Subscriber,1988.0,male,JC-201712-citibike-tripdata.csv,12,2017,3,Stagg St & Union Ave-Leonard St & Maujer St,destination
4,451,12/1/17 12:00 AM,12/1/17 12:08 AM,326,E 11 St & 1 Ave,40.729538,-73.984267,14769,Subscriber,1986.0,male,JC-201712-citibike-tripdata.csv,12,2017,4,Carmine St & 6 Ave-E 11 St & 1 Ave,destination

In [57]:
#rename the columns in the two new dataframes to get rid of the start and end in the columns headers
destination_df = destination_df.rename(columns={"end station id":"station id", "end station name": "station name", "end station latitude":"station latitude","end station longitude": "station longitude"})

origin_df = origin_df.rename(columns={"start station id":"station id", "start station name": "station name", "start station latitude":"station latitude","start station longitude": "station longitude"})

origin_df.head()

,tripduration,starttime,stoptime,station id,station name,station latitude,station longitude,bikeid,usertype,birth year,gender,filename,month,year,trip_id,path_id,origin-destination
0,256,12/1/17 12:00 AM,12/1/17 12:04 AM,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,18858,Subscriber,1981.0,male,JC-201712-citibike-tripdata.csv,12,2017,0,DeKalb Ave & Hudson Ave-Washington Park,origin
1,325,12/1/17 12:00 AM,12/1/17 12:05 AM,470,W 20 St & 8 Ave,40.743453,-74.000040,19306,Subscriber,1992.0,male,JC-201712-citibike-tripdata.csv,12,2017,1,W 20 St & 8 Ave-8 Ave & W 33 St,origin
2,967,12/1/17 12:00 AM,12/1/17 12:16 AM,347,Greenwich St & W Houston St,40.728846,-74.008591,28250,Subscriber,1992.0,male,JC-201712-citibike-tripdata.csv,12,2017,2,Greenwich St & W Houston St-1 Ave & E 16 St,origin
3,125,12/1/17 12:00 AM,12/1/17 12:02 AM,3077,Stagg St & Union Ave,40.708771,-73.950953,25834,Subscriber,1988.0,male,JC-201712-citibike-tripdata.csv,12,2017,3,Stagg St & Union Ave-Leonard St & Maujer St,origin
4,451,12/1/17 12:00 AM,12/1/17 12:08 AM,368,Carmine St & 6 Ave,40.730386,-74.002150,14769,Subscriber,1986.0,male,JC-201712-citibike-tripdata.csv,12,2017,4,Carmine St & 6 Ave-E 11 St & 1 Ave,origin

In [58]:
#union the DFs together
bike_origin_destination_df = pd.concat([origin_df, destination_df]).sort_values(by=["trip_id"])
bike_origin_destination_df.head()

,tripduration,starttime,stoptime,station id,station name,station latitude,station longitude,bikeid,usertype,birth year,gender,filename,month,year,trip_id,path_id,origin-destination
0,256,12/1/17 12:00 AM,12/1/17 12:04 AM,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,18858,Subscriber,1981.0,male,JC-201712-citibike-tripdata.csv,12,2017,0,DeKalb Ave & Hudson Ave-Washington Park,origin
0,256,12/1/17 12:00 AM,12/1/17 12:04 AM,262,Washington Park,40.691782,-73.973730,18858,Subscriber,1981.0,male,JC-201712-citibike-tripdata.csv,12,2017,0,DeKalb Ave & Hudson Ave-Washington Park,destination
1,325,12/1/17 12:00 AM,12/1/17 12:05 AM,470,W 20 St & 8 Ave,40.743453,-74.000040,19306,Subscriber,1992.0,male,JC-201712-citibike-tripdata.csv,12,2017,1,W 20 St & 8 Ave-8 Ave & W 33 St,origin
1,325,12/1/17 12:00 AM,12/1/17 12:05 AM,490,8 Ave & W 33 St,40.751551,-73.993934,19306,Subscriber,1992.0,male,JC-201712-citibike-tripdata.csv,12,2017,1,W 20 St & 8 Ave-8 Ave & W 33 St,destination
2,967,12/1/17 12:00 AM,12/1/17 12:16 AM,347,Greenwich St & W Houston St,40.728846,-74.008591,28250,Subscriber,1992.0,male,JC-201712-citibike-tripdata.csv,12,2017,2,Greenwich St & W Houston St-1 Ave & E 16 St,origin

In [59]:
#add in the day of the week to the df
# bike_origin_destination_df["day_of_week"] = pd.to_datetime(bike_origin_destination_df["starttime"].astype('int'))

bike_origin_destination_df["day_of_week"] = pd.to_datetime(bike_origin_destination_df["starttime"]).dt.strftime('%w').astype('int')


bike_origin_destination_df.head()

,tripduration,starttime,stoptime,station id,station name,station latitude,station longitude,bikeid,usertype,birth year,gender,filename,month,year,trip_id,path_id,origin-destination,day_of_week
0,256,12/1/17 12:00 AM,12/1/17 12:04 AM,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,18858,Subscriber,1981.0,male,JC-201712-citibike-tripdata.csv,12,2017,0,DeKalb Ave & Hudson Ave-Washington Park,origin,5
0,256,12/1/17 12:00 AM,12/1/17 12:04 AM,262,Washington Park,40.691782,-73.973730,18858,Subscriber,1981.0,male,JC-201712-citibike-tripdata.csv,12,2017,0,DeKalb Ave & Hudson Ave-Washington Park,destination,5
1,325,12/1/17 12:00 AM,12/1/17 12:05 AM,470,W 20 St & 8 Ave,40.743453,-74.000040,19306,Subscriber,1992.0,male,JC-201712-citibike-tripdata.csv,12,2017,1,W 20 St & 8 Ave-8 Ave & W 33 St,origin,5
1,325,12/1/17 12:00 AM,12/1/17 12:05 AM,490,8 Ave & W 33 St,40.751551,-73.993934,19306,Subscriber,1992.0,male,JC-201712-citibike-tripdata.csv,12,2017,1,W 20 St & 8 Ave-8 Ave & W 33 St,destination,5
2,967,12/1/17 12:00 AM,12/1/17 12:16 AM,347,Greenwich St & W Houston St,40.728846,-74.008591,28250,Subscriber,1992.0,male,JC-201712-citibike-tripdata.csv,12,2017,2,Greenwich St & W Houston St-1 Ave & E 16 St,origin,5
2,967,12/1/17 12:00 AM,12/1/17 12:16 AM,504,1 Ave & E 16 St,40.732219,-73.981656,28250,Subscriber,1992.0,male,JC-201712-citibike-tripdata.csv,12,2017,2,Greenwich St & W Houston St-1 Ave & E 16 St,destination,5
3,125,12/1/17 12:00 AM,12/1/17 12:02 AM,3077,Stagg St & Union Ave,40.708771,-73.950953,25834,Subscriber,1988.0,male,JC-201712-citibike-tripdata.csv,12,2017,3,Stagg St & Union Ave-Leonard St & Maujer St,origin,5
3,125,12/1/17 12:00 AM,12/1/17 12:02 AM,3454,Leonard St & Maujer St,40.710369,-73.947060,25834,Subscriber,1988.0,male,JC-201712-citibike-tripdata.csv,12,2017,3,Stagg St & Union Ave-Leonard St & Maujer St,destination,5
4,451,12/1/17 12:00 AM,12/1/17 12:08 AM,368,Carmine St & 6 Ave,40.730386,-74.002150,14769,Subscriber,1986.0,male,JC-201712-citibike-tripdata.csv,12,2017,4,Carmine St & 6 Ave-E 11 St & 1 Ave,origin,5
4,451,12/1/17 12:00 AM,12/1/17 12:08 AM,326,E 11 St & 1 Ave,40.729538,-73.984267,14769,Subscriber,1986.0,male,JC-201712-citibike-tripdata.csv,12,2017,4,Carmine St & 6 Ave-E 11 St & 1 Ave,destination,5
5,578,12/1/17 12:00 AM,12/1/17 12:10 AM,368,Carmine St & 6 Ave,40.730386,-74.002150,31208,Subscriber,1981.0,male,JC-201712-citibike-tripdata.csv,12,2017,5,Carmine St & 6 Ave-6 Ave & W 33 St,origin,5
5,578,12/1/17 12:00 AM,12/1/17 12:10 AM,505,6 Ave & W 33 St,40.749013,-73.988484,31208,Subscriber,1981.0,male,JC-201712-citibike-tripdata.csv,12,2017,5,Carmine St & 6 Ave-6 Ave & W 33 St,destination,5
6,682,12/1/17 12:00 AM,12/1/17 12:11 AM,3136,5 Ave & E 63 St,40.766368,-73.971518,16957,Subscriber,NaN,unknown,JC-201712-citibike-tripdata.csv,12,2017,6,5 Ave & E 63 St-W 42 St & 8 Ave,origin,5
6,682,12/1/17 12:00 AM,12/1/17 12:11 AM,529,W 42 St & 8 Ave,40.757570,-73.990985,16957,Subscriber,NaN,unknown,JC-201712-citibike-tripdata.csv,12,2017,6,5 Ave & E 63 St-W 42 St & 8 Ave,destination,5
7,2262,12/1/17 12:00 AM,12/1/17 12:38 AM,438,St Marks Pl & 1 Ave,40.727791,-73.985649,27807,Subscriber,1975.0,male,JC-201712-citibike-tripdata.csv,12,2017,7,W 70 St & Amsterdam Ave-St Marks Pl & 1 Ave,destination,5
7,2262,12/1/17 12:00 AM,12/1/17 12:38 AM,3175,W 70 St & Amsterdam Ave,40.777480,-73.982886,27807,Subscriber,1975.0,male,JC-201712-citibike-tripdata.csv,12,2017,7,W 70 St & Amsterdam Ave-St Marks Pl & 1 Ave,origin,5
8,213,12/1/17 12:00 AM,12/1/17 12:04 AM,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,20842,Subscriber,1985.0,female,JC-201712-citibike-tripdata.csv,12,2017,8,Greenwich Ave & Charles St-Greenwich Ave & 8 Ave,destination,5
8,213,12/1/17 12:00 AM,12/1/17 12:04 AM,383,Greenwich Ave & Charles St,40.735238,-74.000271,20842,Subscriber,1985.0,female,JC-201712-citibike-tripdata.csv,12,2017,8,Greenwich Ave & Charles St-Greenwich Ave & 8 Ave,origin,5
9,465,12/1/17 12:00 AM,12/1/17 12:08 AM,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,31467,Subscriber,1992.0,male,JC-201712-citibike-tripdata.csv,12,2017,9,E 10 St & 5 Ave-Greenwich Ave & 8 Ave,destination,5
9,465,12/1/17 12:00 AM,12/1/17 12:08 AM,280,E 10 St & 5 Ave,40.733320,-73.995101,31467,Subscriber,1992.0,male,JC-201712-citibike-tripdata.csv,12,2017,9,E 10 St & 5 Ave-Greenwich Ave & 8 Ave,origin,5

In [48]:
bike_origin_destination_df.to_csv("../cleanedData/bike_origin_destination_df.csv")
bike_data.to_csv("../cleanedData/clean_bike_data.csv")